/* -----------------------------------------
 *  base 
 * -----------------------------------------
 */

body {
    font-size: 13px;
    line-height: 1.4em;
}

h1 { font-size: 20px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h1 { line-height: 1.6em; }
h2, h3, h4 { line-height: 1.2em; }

fieldset {
    padding: .6em;
    border: 1px solid #D7D7D7;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

label, input, button, select, textarea {
    font-size: 12px;
}
input, select, textarea, .uneditable-input {
    width: 180px;
}

textarea {
  font-family: monospace;
}

form {
    margin: 0 0 10px;
}

form label,
form input {
    display: inline-block;
}

legend {
  border: none;
  color: #999;
  font-size: 14px;
  line-height: 1.4em;
  margin-bottom: 0;
}

select, input[type="file"] {
    height: 26px;
    line-height: 26px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    margin-bottom: 6px;
}

/* -----------------------------------------
 *  header
 * -----------------------------------------
 */

#prefs div, #prefs label, #prefs input, #prefs select {
  font-size: 11px;
}

#prefs input[type="text"] {
    width: 100px;
}

#banner img {
  max-height:40px;
}

/* -----------------------------------------
 *  sidebar
 * -----------------------------------------
 */

.sidebar-nav {
    font-size: 12px;
    padding: 9px 5px;
}

/* -----------------------------------------
 *  navber
 * -----------------------------------------
 */

#login {
    margin: 10px 0 0 10px;
}

#search {
    clear: none;
    margin: 1em 0 0 1em;
}

#search input {
    font-size: 14px;
}

.nav li {
    border-right: 0;
    display: list-item;
    padding: 0;
    white-space: nowrap;
}

.navbar .nav {
    background-color:#393939;
    padding: 0 10px;
    width: 100%;
}

.navbar .nav > li > a {
    color: #C5C5C5;
    font-size: 12px;
    padding: 6px 11px;
}

.navbar .btn, .navbar .btn-group {
    margin-top: 1em;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position:static;
}

.navbar-inverse .navbar-inner {
    background-color: #FFF;
    background-image: url("/trac_common/headcover.png");
    filter:none;
}

.container-fluid {
    padding-top: 12px;
    padding-bottom: 10px;
}

/* -----------------------------------------
 *  btn
 * -----------------------------------------
 */
.btn {
    font-size: 13px;
    line-height: 20px;
}

/* -----------------------------------------
 *  button group
 * -----------------------------------------
 */
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover, ul.breadcrumb li {
    font-size: 12px;
}

/* -----------------------------------------
 *  other
 * -----------------------------------------
 */
table.progress td {
    background: #FEFFC7;
}

:link,
:visited {
    text-decoration: none;
    border-bottom: 0px;
}

#content {
    position: inherit;
}

#edit #text {
    min-height: 40em;
}

#topsearch label {
    display: inherit;
}

ul.breadcrumb {
  float: left;
}

#ticket table.properties td, #ticket table.properties th {
    font-size: 90%;
}

#action {
  line-height: 160%;
  padding: 0.5em;
}

#tabs {
  border: 1px solid #E3E3E3;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

#prefs {
  border: 1px solid #E3E3E3;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

form.mod .field {
  margin: 0.5em;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0 4px;
}

/* -----------------------------------------
 *  wiki
 * -----------------------------------------
 */
div.trac-content {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}

.wikipage h1 {
    background: none repeat scroll 0 0 #F7F7F7;
    border-bottom: 1px solid #D7D7D7;
    border-radius: 0.1em 0.1em 0.1em 0.1em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    padding: 0.4em 0.4em 0.1em;
}

.wikipage h2 {
    box-shadow: none;
    margin-top: 1.3em;
    margin-bottom: 0.7em;
}

.wikipage h3 {
    border: none;
    margin-top: 1.2em;
    margin-bottom: 0.6em;
    padding-left: 0.5em;
    text-decoration: underline;
}

table.wiki {
    box-shadow: none;
}

pre.wiki, pre.literal-block {
    box-shadow: none;
    margin: 1em 0.75em;
    padding: 0.35em 0.6em;
}

blockquote p {
    font-size: 14px;
    line-height: 20px;
}
blockquote.citation {
    margin: 0;
}

.breadcrumb {
    margin: 0 0 10px;
    padding: 6px 10px;
}

#notice.system-message, .notice.system-message {
    border: 1px solid #E3E3E3;
}

div.system-message {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

#content.error .message, div.system-message {
    margin: 0 0 1em;
}

#editrows {
    width:50px;
}

#addcomment {
    width: 100%;
}

/* -----------------------------------------
 *  roadmap
 * -----------------------------------------
 */
.trac-progress .legend {
    font-size: 11px;
}

/* -----------------------------------------
 *  repository
 * -----------------------------------------
 */
h1 *:link, h1 *:visited {
    color: #0088CC;
}
#jumprev input, #diffrev input {
	width: 60px;
}

/* -----------------------------------------
 *  report
 * -----------------------------------------
 */
#content.report .field {
    width: 600px;
}
textarea#description, textarea#query {
    width: 600px;
}
.report div.reports h2 {
    background-color: #F7F7F7;
	box-shadow: none;
}
.report h3 {
    font-size:14px;
}

#properties div.trac-resizable, #field-description {
    width: 98%;
}
h2.report-result {
    box-shadow:none;
}

#batchmod_value_comment {
    width: 100%;
}
#batchmod_fieldset label {
    margin-right: 6px;
    width: 100px;
}
.batchmod_property label {
    text-align: right;
}

/* -----------------------------------------
 *  ticket
 * -----------------------------------------
 */
#modify #properties label, #modify #properties input, #modify #properties select, #modify #properties textarea {
    font-size: 12px;
}
#action_reassign_reassign_owner, #action_resolve_resolve_resolution {
    font-size: 12px;
}
#modify #properties input[type="text"], #modify #properties select, #action_reassign_reassign_owner, #action_resolve_resolve_resolution {
    margin-bottom: 3px;
    padding: 1px 3px;
}
#modify #properties input[type="text"], #action_reassign_reassign_owner {
    height: 21px;
}
#modify #properties select, #action_resolve_resolve_resolution {
    height: 24px;
}
#modify #properties table th {
    padding: 0.23em;
}
#field-summary {
    width: 500px;
}
#field-description-help, #properties div.editor-toggle label {
    font-size:11px;
}
#content.ticket .trac-topnav {
    margin-bottom: 22px;
    text-align: left;
}
#changelog h3, #ticketchange h3 {
	box-shadow: none;
}

/* -----------------------------------------
 *  search
 * -----------------------------------------
 */
#fullsearch input[type="text"] {
    margin-bottom: 0;
}

#content.search #results dd {
    font-size: 85%;
}

/* -----------------------------------------
 *  ganttcalender
 * -----------------------------------------
 */

/* -----------------------------------------
 *  calender
 * -----------------------------------------
 */
form fieldset.collapsed {
    padding: 0;
}

fieldset#options {
    margin-bottom: 1em;
}

.foldable *:link, .foldable *:visited {
    box-shadow: none;
}

/* -----------------------------------------
 *  gantt
 * -----------------------------------------
 */
#query fieldset.collapsed {
    padding: 0;
}

fieldset#filters table, fieldset#options table {
    margin: .5em;
}

fieldset#filters td label {
    font-size: 12px;
}

#filters table {
    width: 96%;
}

#query fieldset {
    margin-bottom: 1em;
}
#query fieldset.collapsed {
    margin-bottom: 1em;
}
.bdy_elem {
    font-size: 11px;
}

/* -----------------------------------------
 *  talk
 * -----------------------------------------
 */
#talk_open_rooms h1 {
    margin: 5px 0;
}
#talk-front .talk_featured_item, #talk-front .talk_open_item {
	margin: 0 1em 1em 0;
}
#talk-roomlist {
	padding: 1em 0;
}
#talk-sidebar {
    width: 20%;
}
#talk-main {
    width: 74%;
}
#talk-msg {
    width: 97%;
}
#talk-room td {
    word-break: break-all;
}

/* -----------------------------------------
 *  admin
 * -----------------------------------------
 */
#addcomponent input[type="text"], #addmilestone input[type="text"], #addenum input[type="text"], #addversion input[type="text"] {
    margin-bottom: 0;
}
#enumlist select {
    width: 48px;
}
#modbasic .trac-resizable {
    width: 100%;
}
#bloginfotext {
    width: 98%;
}
#tagchange .trac-resizable {
    width: 100%;
}
